:root {
  --red: #ff2400;
  --darkred: #e81d1d;
  --orange: #e8b71d;
  --yellow: #e3e81d;
  --green: #1de840;
  --lightblue: #1ddde8;
  --darkblue: #2b1de8;
  --purple: #dd00f3;
  --black: #000;
  --white: #fff;
  --ugly: #54009e;
}

body {
  height: auto;
  width: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    124deg,
    var(--red),
    var(--darkred),
    var(--orange),
    var(--yellow),
    var(--green),
    var(--lightblue),
    var(--darkblue),
    var(--purple),
    var(--purple)
  );
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

a {
  color: var(--black);
}

#wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-title {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
  font-size: 6rem;
}

table,
td,
th {
  border: 1px solid black;
  font-size: 2rem;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
